<button type="button" class="btn-edit" data-toggle="modal" data-target="#achievementModal<%= passport.id %>">
習慣化達成
</button>


<!-- Modal -->
<div class="modal fade" id="achievementModal<%= passport.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">あなたの習慣化は成功しましたか？</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <p>期間中の達成率</p>
      <%= passport.rate %>%
      <%= form_with model: passport, url: [current_user, passport], class: " p-0 border-0" do |f| %>
        <%= f.hidden_field :achievement, value: true %>
        <div class="modal-footer">
          <%= f.submit "達成しました！", class: "btn-edit"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
