<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Passport No.1</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <main class="passport">
        <section class="container">
          <div class="passport__header">
            <% if passport.passport_image.file.nil? %>
              <%= image_tag 'img_passport_header.jpg' %>
            <% else %>
              <%= image_tag passport.passport_image.url %>
            <% end %>
          </div>

          <div class="passport__contents">
            <div class="contents">
              <div class="habit">
                <h1 class="habit__purpose"><%= passport.purpose %></h1>
                <h2 class="habit__goal"><%= passport.goal %></h2>
                <div class="habit__details">
                  <p class="period"><%= passport.plans.first.start_time.strftime("%Y-%m-%d") %> 〜 <%= passport.plans.first.end_time.strftime("%Y-%m-%d") %></p>
                  <p class="genre"><%= passport.genre.name %></p>
                </div>
                <div class="habit__rate habit__rate<%= passport.id.to_s %>">
                  <p class="percentage">期間内の達成率<span><%= passport.rate %></span>%</p>
                </div>
              </div>
            </div><!-- contents -->
            <div class="contents">
              <div class="methods">
                <p class="methods__label">習慣化方法</p>
                <%= render partial: "passports/psychology", collection: passport.psychologies, as: :psychology %>
              </div>
            </div><!-- contents -->
          </div>
          <% if passport.id == current_user.id %>
            <div class="passport__footer">
              <%= form_with model: passport, url:[current_user, passport], class: "p-0 border-0" do |f| %>
                <%= f.hidden_field :achievement, value: nil %>
                <%= f.submit "習慣化をやり直す", class: "btn-edit", data: {confirm: "本当に戻してもよろしいですか？"} %>
              <% end %>
            </div>
          <% end %>
        </section>
      </main>
    </div>
  </div>
</div>
