<%= week_calendar do |date| %>
  <% if date.strftime("%Y-%m-%d") <= Time.now.strftime("%Y-%m-%d") %>
    <div class="calendar-check">
      <% schedule = passport.schedules.find_by(day: date.strftime("%Y-%m-%d")) %>
      <% if schedule.nil? %>
        <% schedule = Schedule.new %>
        <div id="calendar-form">
          <p data-toggle="modal" data-target="#PassportCalendarModalweek<%= passport.id %><%= date %>">
            <% if Time.now.strftime("%Y-%m-%d") == date.strftime("%Y-%m-%d") %>
              <span class="today"><%= date.day %></span>
            <% else %>
              <span><%= date.day  %></span>
            <% end %>
          </p>
        </div>
      <% else %>
        <p data-toggle="modal" data-target="#PassportCalendarModalweek<%= passport.id %><%= date %>">
          <% if schedule.judgment == 1 %>
            <span class="achieved"><%= date.day %></span>
          <% elsif schedule.judgment == 2 %>
            <span class="failed"><%= date.day %></span>
          <% elsif schedule.judgment == 3 %>
            <span class="skipped"><%= date.day %></span>
          <% end %>
        </p>
      <% end %>
    </div>
    <div class="modal fade" id="PassportCalendarModalweek<%= passport.id %><%= date %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-body">
            <%= form_with model: [current_user, passport, schedule], remote: true do |f| %>
              <%= f.hidden_field :passport_id, value: passport.id %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :day, value: date %>
              <% if schedule.judgment == 1 %>
                <%= f.submit "例外日", class: "passportEdit skip" %>
                <%= f.submit "取り消し", class: "passportEdit fail" %>
              <% elsif schedule.judgment == 2 || schedule.judgment == nil %>
                <%= f.submit "達成", class: "passportEdit achieve" %>
                <%= f.submit "例外日", class: "passportEdit skip" %>
              <% elsif schedule.judgment == 3 %>
                <%= f.submit "達成", class: "passportEdit achieve" %>
                <%= f.submit "取り消し", class: "passportEdit fail" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <%= date.day %><!-- グレーアウトするような実装 -->
  <% end %>
<% end %>

<script>
  $(".passportEdit").on('click', function(){
    $('.close').trigger("click");
  });
</script>
