<%= month_calendar do |date| %>
  <% if date.strftime("%Y-%m-%d") <= Time.now.strftime("%Y-%m-%d") %>
    <div class="calendar-check">
      <% if passport.schedules.nil? %>
        <div id="calendar-form">
          <%= form_with model: [current_user, passport, Schedule.new], method: :post, remote: true do |f| %>
            <%= f.hidden_field :passport_id, value: passport.id %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :day, value: date %>
            <%= f.hidden_field :comprate, value: true %>
            <% if Time.now.strftime("%Y-%m-%d") == date.strftime("%Y-%m-%d") %>
              <%= f.submit "#{date.day}今" %><!-- , class: "calendar-color" -->
            <% else %>
              <%= f.submit date.day %><!-- , class: "checkGray" -->
            <% end %>
          <% end %>
        </div>
      <% else %>
        <% schedule = passport.schedules.find_by(day: date.strftime("%Y-%m-%d")) %>
        <% if schedule.nil? %>
          <div id="calendar-form">
            <%= form_with model: [current_user, passport, Schedule.new], method: :post, remote: true do |f| %>
              <%= f.hidden_field :passport_id, value: passport.id %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :day, value: date %>
              <%= f.hidden_field :comprate, value: true %>
              <% if Time.now.strftime("%Y-%m-%d") == date.strftime("%Y-%m-%d") %>
                <%= f.submit "#{date.day}今" %><!-- , class: "calendar-color" -->
              <% else %>
                <%= f.submit date.day %><!-- , class: "checkGray" -->
              <% end %>
            <% end %>
          </div>
        <% elsif schedule.comprate == true %>
          <%= link_to date.day, user_passport_schedule_path(current_user, passport.id, schedule.id), method: :delete, remote: true %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
