<button type="button" class="btn-edit" data-toggle="modal" data-target="#editModal<%= passport.id %>">
内容を修正
</button>


<!-- Modal -->
<div class="modal fade passEdit" id="editModal<%= passport.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%# current_user.name %>さんの習慣</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <%= form_with model: passport, url: [current_user, passport], class: " p-0 border-0" do |f| %>
        <div class="modal-body">
          <%= render 'partial/error_messages', model: f.object %>
          <p>何のために習慣化をしますか？</p>
          <%= f.text_field :purpose, class: "form-control", placeholder: "習慣化の目的を入力してください" %>
          <p>そのために何をしますか？</p>
          <%= f.text_field :goal, class: "form-control", placeholder: "習慣化したいことを入力してください" %>
          <p>ジャンルを選んでください</p>
          <div class="round round--genre arrow">
            <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "ジャンルを選択してください" do |b|%>
              <%= b.label {b.select + b.text} %>
            <% end %>
          </div>
          <p>いつまでに習慣化しますか？</p>
          <div class="period">
            <%= f.fields_for :plans do |i| %>
              <div>
                <span>開始日</span>
                <div class="round round--period"><%= i.date_field :start_time, class: "form-control", discard_time: true %></div>
              </div>
              <div>
                <span>終了日</span>
                <div class="round round--period"><%= i.date_field :end_time, class: "form-control", discard_time: true %></div>
              </div>
            <% end %>
          </div>
          <p>ヘッダー画像</p>
          <%= f.file_field :passport_image, placeholder: "好きな画像を選択してください", class: "new-image" %>
        </div>
        <div class="modal-footer">
          <%= f.submit "更新", class: "btn-edit" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
