<% i = 0 %>
<div class="d-inline-block">
    <span class="badge badge-secondary mr-1">
      <span data-toggle="modal" data-target="#exampleModal<%= i %>">
        <%= image_tag psychology.psychology_image_url, class: "psychology-image" %>
        <%= psychology.title %>

      </span>
    </span>
</div>
        <% i =+1 %>

<!-- Modal -->
<div class="modal fade" id="exampleModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= psychology.title %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= image_tag psychology.psychology_image_url, class: "psychology-image" %>
        <%= psychology.discription %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
