<div class="d-inline-block" data-toggle="modal" data-target="#psychologyModal<%= psychology.id %>">
  <span class="badge badge-secondary mr-1">
    <%= image_tag psychology.psychology_image_url, class: "psychology-image" %>
    <%= psychology.title %>
  </span>
</div>

<!-- Modal -->
<div class="modal fade psychMethods" id="psychologyModal<%= psychology.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <%= image_tag psychology.psychology_image_url, class: "psychology-image" %>
          <%= psychology.title %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <%= image_tag psychology.discription_image.url %>
      </div>
    </div>
  </div>
</div>
