<div class="selection" data-step='1' data-intro='おめでとうございます！最初の習慣パスポートが作成されました。これから使い方をご説明していきます。<br>習慣が作成されると、ここにボタンが追加されていきます。'>
</div>
<% @passports.each do |passport| %>
  <% if passport.achievement != true %>
    <main class="passport">
      <section class="container">
        <div class="passport__contents">
          <div class="contents">
            <div class="habit">
              <%= link_to user_passport_path(current_user, passport.id) do  %>
                <h1 class="habit__purpose"><%= simple_format(passport.purpose) %></h1>
              <% end %>
              <div class="habit__details">
                <p class="genre"><%= passport.genre.name %></p>
              </div>
              <div class="habit__rate habit__rate<%= passport.id.to_s %>" data-step='6' data-intro='達成率はパーセントで表示されます。月に57%以上の達成を目指しましょう！<br>説明は以上です。<br>それでは、新たな習慣づくりを一緒にスタートしましょう！'>
                <%= render partial: "passports/rate", locals: {passport: passport} %>
              </div>
            </div>
          </div><!-- contents -->
        </div>
        <div class="schedule_btn<%= passport.id.to_s %>">
          <% if passport.schedules.find_by(day: Time.now.strftime("%Y-%m-%d")) %>
            <% @schedule = passport.schedules.find_by(day: Time.now.strftime("%Y-%m-%d")) %>
          <% else %>
            <% @schedule = Schedule.new %>
          <% end %>
          <%= render partial: "passports/schedule_form", locals: {passport: passport, schedule: @schedule} %>
        </div>
        <div class="notification">
          <% if passport.notifications.blank? || passport.notifications.where(check: false).nil? %>
            <i class="far fa-circle"></i>
          <% else %>
            <i class="fas fa-circle"></i>
          <% end %>
        </div>
      </section>
    </main>
  <% end %>
<% end %>
---------  ここから達成してるやつ-------------
<% @passport_comprate.each do |passport| %>
  <% if passport.achievement == true %>
    <main class="passport">
      <section class="container">
        <div class="passport__contents">
          <div class="contents">
            <div class="habit">
              <%= link_to user_passport_comprated_path(current_user) do %>
                <h1 class="habit__purpose"><%= simple_format(passport.purpose) %></h1>
              <% end %>
              <div class="habit__details">
                <p class="genre"><%= passport.genre.name %></p>
              </div>
              <div class="habit__rate habit__rate<%= passport.id.to_s %>" data-step='6' data-intro='達成率はパーセントで表示されます。月に57%以上の達成を目指しましょう！<br>説明は以上です。<br>それでは、新たな習慣づくりを一緒にスタートしましょう！'>
                <%= render partial: "passports/rate", locals: {passport: passport} %>
              </div>
            </div>
          </div><!-- contents -->
        </div>
        <div class="schedule_btn<%= passport.id.to_s %>">
          <% if passport.schedules.find_by(day: Time.now.strftime("%Y-%m-%d")) %>
            <% @schedule = passport.schedules.find_by(day: Time.now.strftime("%Y-%m-%d")) %>
          <% else %>
            <% @schedule = Schedule.new %>
          <% end %>
          <%= render partial: "passports/schedule_form", locals: {passport: passport, schedule: @schedule} %>
        </div>
      </section>
    </main>
  <% end %>
<% end %>
