<main class="mypage">
  <section class="container">

    <h2 class="mypage__heading">現在チャレンジ中の習慣</h2>

    <div class="mypage__body">
    <% @passports.each do |passport| %>
      <% if passport.achievement != true %>

        <%= link_to user_passport_path(current_user, passport.id), data:{"turbolinks" => false}, class: "habit" do  %>

          <% if passport.notifications.blank? || passport.notifications.where(check: false).blank? %>
            <!-- <i class="far fa-circle"></i> -->
          <% else %>
            <i class="far fa-circle"></i>
          <% end %>

          <h3><%= simple_format(passport.purpose) %></h3>

          <div class="habit__body">
            <div class="body__rate body__rate<%= passport.id.to_s %>">
              <%= render partial: "passports/rate", locals: {passport: passport} %>
            </div>

            <div class="body__btn body__btn<%= passport.id.to_s %>">
              <% if passport.schedules.find_by(day: Time.now.strftime("%Y-%m-%d")) %>
                <% @schedule = passport.schedules.find_by(day: Time.now.strftime("%Y-%m-%d")) %>
              <% else %>
                <% @schedule = Schedule.new %>
              <% end %>
              <%= render partial: "passports/schedule_form", locals: {passport: passport, schedule: @schedule} %>
            </div>
          </div>

        <% end %>

      <% end %>
    <% end %>
    </div>

    <h2 class="mypage__heading mypage__heading--achieved">達成済みの習慣</h2>

    <div class="mypage__body">
    <% @passport_comprate.each do |passport| %>
      <% if passport.achievement == true %>

        <%= link_to user_passport_passport_comprated_path(current_user, passport), class: "habit" do %>
          
            <h3><%= simple_format(passport.purpose) %></h3>

            <div class="habit__body">
              <div class="body__rate body__rate<%= passport.id.to_s %>">
                <%= render partial: "passports/rate", locals: {passport: passport} %>
              </div>
              <!--
              <div class="body__btn">
                <div class="detail">詳細</div>
              </div>
              -->
            </div>

         <% end %>

      <% end %>
    <% end %>
    </div>

  </section>
</main>
