<div class="newPassport">
  <div class="d-flex flex-column align-items-center mt-3">
    <div class="col-xl-7 col-lg-8 col-md-10 col-sm-11 post-card">
      <div class="card">
        <div class="card-header">
          パスポートの作成
        </div>
        <div class="card-body">
          <p>
            さぁ！あなただけの習慣化パスポートを作成していきましょう！<br>
            まず、習慣化を実現するために重要なのが、『目的』と『目標』を明確にすることです。<br>
            あなたの理想をイメージして設定してみましょう！<br><br>
            目的は、<b>なぜその習慣化を行うのか</b>を明確にします。<br>
            <span>（例）時間に余裕をもって出社するため</span><br><br>
            目標は、<b>目的を達成するために実践すること</b>を決めましょう<br>
            <span>（例）平日は朝7時に起きる</span><br>
            ※日常的に継続出来る、無理のない目標を設定しましょう<br>
          </p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            新しい習慣を作成
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade passEdit" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title">
        <%= image_tag 'icon_passport.png', class: "passportIcon" %>新しい習慣を作成</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"></span>
      </button>
    </div>
    <%= form_with model: [current_user, @passport], class: " p-0 border-0", local: true do |f| %>
      <div class="modal-body">
        <%= render 'partial/error_messages', model: f.object %>
        <div class="form-group">
          <label for="passport_purpose">何のために習慣化をしますか？</label>
          <%= f.text_area :purpose, class: "form-control", placeholder: "（例）朝の時間を有効活用するため" %>
        </div>
        <div class="form-group">
          <label for="passport_goal">そのために何をしますか？</label>
          <%= f.text_area :goal, class: "form-control", placeholder: "（例）平日は朝7時に起きる" %>
        </div>
        <div class="form-group">
          <label for="passport_genre_id">ジャンルを選んでください</label>
          <div class="round round--genre arrow">
            <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "ジャンルを選択してください" do |b|%>
              <%= b.label {b.select + b.text} %>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <label>いつまでに習慣化しますか？</label>
          <div class="period">
            <%= f.fields_for :plans do |i| %>
              <div>
                <span>開始日</span>
                <div class="round round--period"><%= i.date_field :start_time, class: "form-control", discard_time: true %></div>
              </div>
              <div>
                <span>終了日</span>
                <div class="round round--period"><%= i.date_field :end_time, class: "form-control", discard_time: true %></div>
              </div>
            <% end %>
          </div>
        </div>
        <!--<p>ヘッダー画像</p>
        <%= f.file_field :passport_image, placeholder: "好きな画像を選択してください", class: "new-image" %>-->
      </div>
      <div class="modal-footer">
        <%= f.submit "作成する", class: "btn btn-outline-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
