<div class="passport-wrapper">
  <div class="container">
    <div class="passport-top">
      <% if @passport.passport_image.file.nil? %>
        <%= image_tag 'dumbo_default.png', class: "passport-image" %>
      <% else %>
        <%= image_tag @passport.passport_image.url, class: "passport-image" %>
      <% end %>
    </div>

    <div class="passport-main">
      <div class="passport-left">
        <div class="passport-purpose">
          <h4><%= @passport.purpose %></h4>
          <h6><%= @passport.goal %></h6>
          <p><%= @passport.genre.name %></p>
        </div>

        <div class="passport-user">
          <%= link_to user_path(@passport.user), class: "no-text-decoration" do %>
            <% if current_user.profile_image.file.nil? %>
              <%= image_tag 'dumbo_default.png', class: "post-profile-icon" %>
            <% else %>
              <%= image_tag current_user.profile_image.url, class: "post-profile-icon"  %>
            <% end %>
          <% end %>
          <%= link_to user_path(@passport.user), class: "black-color no-text-decoration post-user-name",
            title: @passport.user.name do %>
            <strong><%= @passport.user.name %></strong>
          <% end %>
        </div>
        <div class="passport-calender">

        </div>
      </div>

      <div class="passport-right">
        <p class="right-header">習慣化方法</p>
        <strong>
          <%= render partial: "passports/psychology", collection: @passport.psychologies, as: :psychology %>
        </strong>
        <button type="button" class="psychology-btn" data-toggle="modal" data-target="#exampleModalLong">
          <p><span>+</span>新規登録</p>
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<%= form_with(model: @passport, url: user_passport_path(current_user, current_user.passports.first.id), local: true ) do |f| %>
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= f.collection_check_boxes :psychology_ids, Psychology.all, :id, :title do |b| %>
            <%= b.label {b.check_box + b.text} %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"><%= f.submit "Save changes"%></button>
        </div>
      </div>
    </div>
  </div>
<% end %>
