<div class="selection" data-step='1' data-intro='おめでとうございます！最初の習慣パスポートが作成されました。これから使い方をご説明していきます。<br>習慣が作成されると、ここにボタンが追加されていきます。'>
</div>
<!-- パスポートホームへの移動、Classは仮名 -->
<div class="selection">
  <div class="passport_select">
    <%= link_to "戻る", user_passports_path(current_user), class: "btn-true" %>
  </div>
</div>

<main class="passport">
  <section class="container">
    <div class="passport__header">
      <% if @passport.genre.name == "運動" %>
        <%= image_tag 'img_passport_header_1.png' %>
      <% elsif @passport.genre.name == "実践" %>
        <%= image_tag 'img_passport_header_2.png' %>
      <% elsif @passport.genre.name == "睡眠" %>
        <%= image_tag 'img_passport_header_3.png' %>
      <% elsif @passport.genre.name == "早起き" %>
        <%= image_tag 'img_passport_header_4.png' %>
      <% elsif @passport.genre.name == "勉強" %>
        <%= image_tag 'img_passport_header_5.png' %>
      <% elsif @passport.genre.name == "読書" %>
        <%= image_tag 'img_passport_header_6.png' %>
      <% elsif @passport.genre.name == "ダイエット" %>
        <%= image_tag 'img_passport_header_7.png' %>
      <% elsif @passport.genre.name == "瞑想" %>
        <%= image_tag 'img_passport_header_8.png' %>
      <% elsif @passport.genre.name == "家事" %>
        <%= image_tag 'img_passport_header_9.png' %>
      <% elsif @passport.genre.name == "悪い習慣" %>
        <%= image_tag 'img_passport_header_10.png' %>
      <% else %>
        <%= image_tag 'img_passport_header.jpg' %>
      <% end %>
    </div>

    <div class="passport__contents">
      <div class="contents">
        <div class="habit">
          <% if @passport.user_id != current_user.id %>
            <div class="habit__user">
              <% if @passport.user_profile_image.present? %>
                <%= image_tag @passport.user.profile_image.url, class: "habit__user-icon" %>
              <% else %>
                <%= image_tag "icon_default_user.png", class: "habit__user-icon" %>
              <% end %>
              <p class="habit__user-name"><%= @passport.user_name %></p>
            </div>
          <% end %>
          <h1 class="habit__purpose"><%= simple_format(@passport.purpose) %></h1>
          <h2 class="habit__goal"><%= simple_format(@passport.goal) %></h2>
          <div class="habit__details">
            <p class="period"><%= @passport.start_time(@passport) %> 〜 <%= @passport.end_time(@passport) %></p>
            <p class="genre"><%= @passport.genre.name %></p>
          </div>
          <div class="habit__rate habit__rate<%= @passport.id.to_s %>" data-step='6' data-intro='達成率はパーセントで表示されます。月に57%以上の達成を目指しましょう！<br>説明は以上です。<br>それでは、新たな習慣づくりを一緒にスタートしましょう！'>
            <%= render partial: "passports/rate", locals: {passport: @passport} %>
          </div>
          <% if @passport.user_id == current_user.id %>
            <div class="habit__btn">
              <div class="achievement<%= @passport.id.to_s %> achieveBtn" data-step='5' data-position="right" data-intro='習慣化を達成できたなと思ったらこのボタンを押してください。
                習慣化パスポートが保存されます。保存された習慣化方法はページ上部の★から確認できます。'>
                <%= render partial: "passports/achievement", locals: { passport: @passport } %>
              </div>
              <div class="edit<%= @passport.id.to_s %>" data-step='4' data-intro='習慣化の内容を修正したい場合はこちらを押します。'>
                <%= render partial: "passports/edit", locals:{passport: @passport} %>
              </div>
              <%= link_to user_passport_path(current_user.id, @passport.id), method: :delete, data: {confirm: "本当に削除してよろしいですか？"}, class: "trash" do %>
                <%= image_tag 'icon_trash.png' %>
              <% end %>
            </div>
          <% end %>
        </div>
        <% if @passport.user_id == current_user.id %>
          <div class="calendar" data-step='2' data-intro='これから習慣を達成したら、カレンダーに記録していきましょう。日付を押すと「達成」「例外日」などを選択することができます。'>
            <p class="calendar__label">習慣記録</p>
            <i class="fas fa-chevron-circle-down"></i>
            <div class="passport-calendar passport-calendar_month<%= @passport.id.to_s %>" id="month" >
              <%= render partial: "passports/calendar_month", locals: { passport: @passport, schedules: @schedules } %>
            </div>

            <div class="passport-calendar active passport-calendar_week<%= @passport.id.to_s %>" id="week">
              <%= render partial: "passports/calendar_week", locals: { passport: @passport, schedule: @schedules}%>
            </div>
          </div>
        <% end %>
      </div><!-- contents -->
      <div class="contents">
        <div class="methods" data-step='3' data-intro='自分で選択した習慣化方法がここに表示されます。最初はオススメの方法が登録されているので、名前を押して詳細を見てみましょう。<br>習慣方法は「新規登録」から自由に選んで登録できます（複数選択可）。'>
          <p class="methods__label">習慣化方法</p>
          <%= render partial: "passports/psychology", collection: @passport.psychologies, as: :psychology %>
          <% if @passport.user_id == current_user.id %>
            <button type="button" class="psychology-btn" data-toggle="modal" data-target="#psychologi_new_ModalLong<%= @passport.id %>">
              <span>＋</span>
              新規登録
            </button>
          <% end %>
        </div>
      </div><!-- contents -->
    </div>
    <div class="passport__footer">
    </div>
  </section>
</main>


<!-- Modal -->
<%= form_with(model: @passport, url: user_passport_path(current_user, @passport.id), local: true ) do |f| %>
  <div class="modal fade psychologi_new_ModalLong" id="psychologi_new_ModalLong<%= @passport.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">習慣化方法</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <%= f.collection_check_boxes :psychology_ids, Psychology.all, :id, :title do |b| %>
            <%= b.check_box + b.label { b.text } %>
          <% end %>
        </div>
        <div class="modal-footer">
          <%= f.submit "習慣化方法を選択", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if current_user.passport_first_create_btn == nil %>
  <div class="turtorialBtn js-intro"><i class="fas fa-play-circle"></i> 使い方を見る</div>
<% end %>
<script>
  <% if current_user.passport_first_create == nil %>
    document.addEventListener("DOMContentLoaded", function() {
      introJs().start();
      <% current_user.passport_first_create = Time.now %>
      <% current_user.save %>
    });
  <% end %>

  $('.js-intro').on('click',function(){
    introJs().start();
    <% current_user.passport_first_create_btn = Time.now %>
    <% current_user.save %>
  });

  $('.fa-chevron-circle-down').on('click', function(){
    if($('#week').hasClass('active')) {
      $('#week').removeClass('active');
      $('#month').addClass('active');
      $('.fa-chevron-circle-down').addClass('show');
    } else if($('#month').hasClass('active')) {
      $('#month').removeClass('active');
      $('#week').addClass('active');
      $('.fa-chevron-circle-down').removeClass('show');
    }
  });
</script>
