<div class="passport-top">
  <div class="container">
    <% if @passport.passport_image.file.nil? %>
      <%= image_tag 'dumbo_default.png', class: "post-profile-icon" %>
    <% else %>
      <div class="card-left">
        <%= image_tag @passport.passport_image.url, class: "card-img-top" %>
      </div>
    <% end %>
  </div>
</div>

<div class="passport-main">
  <div class="passport-left">
    <div class="passport-purpose">
      <h4><%= @passport.purpose %></h4>
      <strong><%= @passport.goal %></strong>
      <strong><%= @passport.genre.name %></strong>
    </div>

    <div class="passport-user">
      <%= link_to user_path(@passport.user), class: "no-text-decoration" do %>
        <% if current_user.profile_image.file.nil? %>
          <%= image_tag 'dumbo_default.png', class: "post-profile-icon" %>
        <% else %>
          <%= image_tag current_user.profile_image.url, class: "post-profile-icon"  %>
        <% end %>
      <% end %>
      <%= link_to user_path(@passport.user), class: "black-color no-text-decoration post-user-name",
        title: @passport.user.name do %>
        <strong><%= @passport.user.name %></strong>
      <% end %>
    </div>
  </div>

  <div class="passport-right">
    <strong>
      <%= render partial: "passports/psychology", collection: @passport.psychologies, as: :psychology %>
    </strong>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
      習慣化方法を選択
    </button>
  </div>
</div>



<!-- Modal -->
<%= form_with(model: @passport, url: user_passport_path(current_user, current_user.passports.first.id), local: true ) do |f| %>
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= f.collection_check_boxes :psychology_ids, Psychology.all, :id, :title do |b| %>
            <%= b.label {b.check_box + b.text} %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"><%= f.submit "Save changes"%></button>
        </div>
      </div>
    </div>
  </div>
<% end %>
