<main class="diag">
  <section class="container">
    <div class="diag__header">
      <h1><%= image_tag 'diagnoses/img_header_diagnoses.png' %></h1>
    </div>
    <div class="diag__contents">
      <%= form_with model: @diagnosis do |f| %>
        <div class="slick">

          <div class="slider intro">
            <p>
              あなたは「ダイエットする！」「毎朝早起きする！」などと思いながら、三日坊主になってしまった経験はありませんか？もしかすると、それは<span>習慣化の方法がよくなかった</span>のかもしれません。
            </p>
            <div>
              <p>習慣化には科学的に効果のあるワザがあります。ここでは、あなたに合った習慣化のワザを診断します。</p>
              <%= image_tag 'diagnoses/img_kenpo.png' %>
            </div>
            <p>６つの質問に答えて自分に合ったワザを見つけましょう！</p>
            <!--<button type="button" class="slick-btn" style="display: block">診断スタート</button>-->
          </div>

          <div class="slider">
            <h2 class="heading"><span>Q1.</span>あなたの貯金スタイルは？</h2>
            <%= image_tag 'diagnoses/img_money.jpg' %>
            <div class="radio-inline">
              <%= f.radio_button :x_axis, 1, id: "radio_1-1", class: "radio" %>
              <%= f.label "目的がなくても貯金ができる", for: "radio_1-1" %>
            </div>
            <div class="radio-inline">
              <%= f.radio_button :x_axis, -1, id: "radio_1-2", class: "radio" %>
              <%= f.label "事前に目的を決めてから始める", for: "radio_1-2" %>
            </div>
            <div class="radio-inline">
              <%= f.radio_button :x_axis, 0, id: "radio_1-3", class: "radio" %>
              <%= f.label "どちらでもない", for: "radio_1-3" %>
            </div>
          </div>

          <div class="slider">
            <h2 class="heading"><span>Q2.</span>相手に出来事を話す時あなたは？</h2>
            <%= image_tag 'diagnoses/img_talk.jpg' %>
            <div class="radio-inline">
              <%= f.radio_button :x_axis1, 1, id: "radio_2-1", class: "radio" %>
              <%= f.label "「〜な感じ」や擬音語を用いることが多い", for: "radio_2-1" %>
            </div>
            <div class="radio-inline">
              <%= f.radio_button :x_axis1, -1, id: "radio_2-2", class: "radio" %>
              <%= f.label "話の組み立てを考えてから話すことが多い", for: "radio_2-2"%>
            </div>
            <div class="radio-inline">
              <%= f.radio_button :x_axis1, 0, id: "radio_2-3", class: "radio" %>
              <%= f.label "どちらでもない", for: "radio_2-3"%>
            </div>
          </div>

          <div class="slider">
            <h2 class="heading"><span>Q3.</span>学生時代、宿題をやる時あなたは？</h2>
            <%= image_tag 'diagnoses/img_homework.jpg' %>
            <div class="radio-inline">
              <%= f.radio_button :x_axis2, 1, id: "radio_3-1", class: "radio" %>
              <%= f.label "まずできるところまでやってみる", for: "radio_3-1"%>
            </div>
            <div class="radio-inline">
              <%= f.radio_button :x_axis2, -1, id: "radio_3-2", class: "radio" %>
              <%= f.label "最初に計画を立てる", for: "radio_3-2"%>
            </div>
            <div class="radio-inline">
              <%= f.radio_button :x_axis2, 0, id: "radio_3-3", class: "radio" %>
              <%= f.label "どちらでもない", for: "radio_3-3"%>
            </div>
          </div>

          <div class="slider">
            <h2 class="heading"><span>Q4.</span>目標や夢がある時のあなたは？</h2>
            <%= image_tag 'diagnoses/img_bunki.jpg' %>
            <div class="radio-inline">
              <%= f.radio_button :y_axis, 1, id: "radio_4-1", class: "radio" %>
              <%= f.label "家族や友人など親しい人に話すことが多い", for: "radio_4-1"%>
            </div>
            <div class="radio-inline">
              <%= f.radio_button :y_axis, -1, id: "radio_4-2", class: "radio" %>
              <%= f.label "誰にも言わず時の中に留める", for: "radio_4-2"%>
            </div>
            <div class="radio-inline">
              <%= f.radio_button :y_axis, 0, id: "radio_4-3", class: "radio" %>
              <%= f.label "どちらでもない", for: "radio_4-3"%>
            </div>
          </div>

          <div class="slider">
            <h2 class="heading"><span>Q5.</span>あなたのモチベーションを上げることが多いのは？</h2>
            <%= image_tag 'diagnoses/img_DJ.jpg' %>
            <div class="radio-inline">
              <%= f.radio_button :y_axis1, 1, id: "radio_5-1", class: "radio" %>
              <%= f.label "友人と過ごす時間", for: "radio_5-1"%>
            </div>
            <div class="radio-inline">
              <%= f.radio_button :y_axis1, -1, id: "radio_5-2", class: "radio" %>
              <%= f.label "一人でいる時間", for: "radio_5-2"%>
            </div>
            <div class="radio-inline">
              <%= f.radio_button :y_axis1, 0, id: "radio_5-3", class: "radio" %>
              <%= f.label "どちらでもない", for: "radio_5-3"%>
            </div>
          </div>

          <div class="slider">
            <h2 class="heading"><span>Q6.</span>達成感を感じることが多いのは？</h2>
            <%= image_tag 'diagnoses/img_achieve.jpg' %>
            <div class="radio-inline">
              <%= f.radio_button :y_axis2, 1, id: "radio_6-1", class: "radio" %>
              <%= f.label "チームでゴールを達成した時", for: "radio_6-1"%>
            </div>
            <div class="radio-inline">
              <%= f.radio_button :y_axis2, -1, id: "radio_6-2", class: "radio" %>
              <%= f.label "自分で定めたゴールを達成した時", for: "radio_6-2"%>
            </div>
            <div class="radio-inline">
              <%= f.radio_button :y_axis2, 0, id: "radio_6-3", class: "radio" %>
              <%= f.label "どちらでもない", for: "radio_6-3"%>
            </div>
            <%= f.submit "診断する" %>
          </div>

        </div>
      <% end %>
    </div><!-- //diag__contents -->
  </section>
</main>

<script>
  $(function() {
    $('body').css({'background-color':'#f9f9f9'}); //このページのみコンテスト用に先行実装のため仮対応
    $('.slick').slick({
        dots: true,
        infinite: false,
        fade: true,
        nextArrow: '<img src="/assets/right-arrow.png" class="arrow slide-next-arrow next-arrow">',
        prevArrow: '<img src="/assets/left-arrow.png" class="arrow slide-prev-arrow prev-arrow" >'
    });
  });
</script>