<main class="diag">
  <section class="container">
    <div class="diag__header">
      <h1><%= image_tag 'diagnoses/img_header_diagnoses.png' %></h1>
    </div>
    <div class="diag__contents">
      <div class="slick">
        <div class="slider">

          <div class="result">
            <h2 class="fadeIn01">
              <%= image_tag 'lp/img_warranty_diamond.png' %>
              <% if current_user == nil %>
                あなた
              <% else %>
                <%= current_user.name %>さん
              <% end %>
              の診断結果
            </h2>

            <h3 class="fadeIn02"><%= @diagnosis.result %></h3>

            <div class="fadeIn03">
              <p class="result__desc">
                <span>
                  <% if @diagnosis.result == "友人サポート" %>
                    物事を直感的に考え、モチベーションの源が外に向いている
                  <% elsif @diagnosis.result == "20秒ルール" %>
                    物事を直感的に考え、モチベーションの源が内に向いている
                  <% elsif @diagnosis.result == "未来イメージング" %>
                    物事を論理的に考え、モチベーションの源が外に向いている
                  <% elsif @diagnosis.result == "こつこつプランニング" %>
                    物事を論理的に考え、モチベーションの源が内に向いている
                  <% elsif @diagnosis.result == "行動チェーン" %>
                    物事に対する考え方やモチベーションの源も非常にバランスが取れている
                  <% end %>
                </span>
                あなたにオススメな習慣化方法です。
              </p>
              <p>さっそくパスポートに習慣化方法を追加しましょう！</p>
              <% if current_user == nil %>
                <%= link_to "習慣化をはじめる", new_user_registration_path, class: "result__btn" %>
              <% else %>
                <%= link_to "習慣パスポートを見る", user_passports_path(current_user), class: "result__btn" %>
              <% end %>
              <%= link_to "他のワザを見てみる", psychologies_path, class: "result__btn" %>
            </div>

          </div><!-- //result -->

        </div>
      </div>
    </div><!-- //diag__contents -->
  </section>
</main>

<script>
  $(function() {
    $('body').css({'background-color':'#f9f9f9'}); //このページのみコンテスト用に先行実装のため仮対応
  });
  setTimeout(function(){
      $('.fadeIn01').addClass("show");
  },1000);
  setTimeout(function(){
      $('.fadeIn02').addClass("show");
  },3000);
  setTimeout(function(){
      $('.fadeIn03').addClass("show");
  },4000);
</script>