<% if notifications.nil? == false %>
  <% notifications.each do |notification| %>
    <!-- Modal -->
    <% if notification.date_type == 3 %>
      <div class="modal fade fb" id="FeedBackModal<%= notification.id %>" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <p class="modal-title nomore3">
                <%= image_tag "passport/img_diamond.png" %>
                ３日坊主にならないために！
              </p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body">
              <p class="leadTxt">
                本日は習慣化を初めて3日目です！<br>
                多くの人が3日以内で習慣化を断念してしまいます。明日の達成が習慣化へ繋がります！
              </p>
              <div class="yourHabit">
                <p class="yourHabit__heading">あなたの習慣化</p>
                <div class="yourHabit__content">
                  <div>
                    <dl>
                      <dt>何のために習慣化をしますか？<dt>
                      <dd><%= notification.passport.purpose %></dd>
                    </dl>
                    <dl>
                      <dt>そのために何をしますか？<dt>
                      <dd><%= notification.passport.goal %></dd>
                    </dl>
                  </div>
                  <%= image_tag "passport/img_yell02.png", class: "yourHabit__img" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% notification.check = true %>
      <% notification.save %>
    <% elsif notification.date_type == 4 %>
      <div class="modal fade fb" id="FeedBackModal<%= notification.id %>" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <p class="modal-title nomore3">
                <%= image_tag "passport/img_diamond.png" %>
                ３日坊主にならないために！
              </p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body">
              <p class="leadTxt">
                本日は習慣化を初めて4日目です！<br>
                多くの人が4日以内で習慣化を断念してしまいます。明日の達成が習慣化へ繋がります！
              </p>
              <div class="yourHabit">
                <p class="yourHabit__heading">あなたの習慣化</p>
                <div class="yourHabit__content">
                  <div>
                    <dl>
                      <dt>何のために習慣化をしますか？<dt>
                      <dd><%= notification.passport.purpose %></dd>
                    </dl>
                    <dl>
                      <dt>そのために何をしますか？<dt>
                      <dd><%= notification.passport.goal %></dd>
                    </dl>
                  </div>
                  <%= image_tag "passport/img_yell02.png", class: "yourHabit__img" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% notification.check = true %>
      <% notification.save %>
    <% elsif notification.date_type == 28 %>
      <div class="modal fade fb" id="FeedBackModal<%= notification.id %>" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <p class="modal-title monthly">
                <%= image_tag "passport/img_cracker.png" %>
                今月もお疲れ様でした！
              </p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body">
              <p class="leadTxt leadTxt--center leadTxt--mt40">
                今月のあなたの記録結果を表示します。
              </p>
              <div class="result result--column">
                <p class="result__heading">今月の記録</p>
                <div>
                  <dl>
                    <dt>１ヶ月の達成率</dt><dd><span><%= Schedule.new().notification_rate(notification, 28).to_i %></span>%</dd>
                  </dl>
                  <dl>
                    <dt>ゴールまで残り</dt><dd><span><%= Plan.new().remaining_days_check(notification).to_i %></span>日</dd>
                  </dl>
                </div>
              </div>
              <div class="chart chart--monthly">
                <% value_key,num = Schedule.new().schedule_day_of_the_week(notification) %>
                <% prev_num = Schedule.new().prev_schedule_day_of_the_week(notification) %>
                <% prev_num_value = prev_num.map(&:second) %>
                <% key_per = value_key.map(&:first) %>
                <% value_per = value_key.map(&:second) %>
                <% key_num = num.map(&:first) %>
                <% value_num = num.map(&:second) %>
                <!--  id="FbMonthlyChart01" height="auto" width="auto" -->
                <canvas id="FbMonthlyChart02" height="auto" width="auto"></canvas>
              </div>
              <div class="advise">
                <p class="advise__txt">
                  <%= notification.notification_comment.comment %>習慣化されている達成率です！どうしても習慣化行動ができない日は、『例外ルール』を行いながら継続日を伸ばしましょう！
                </p>
                <%= image_tag "passport/img_yell04.png", class: "advise__img advise__img--monthly" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% notification.check = true %>
      <% notification.save %>
    <% elsif notification.date_type == 7 %>
      <div class="modal fade fb" id="FeedBackModal<%= notification.id %>" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <p class="modal-title weekly">
                <%= image_tag "passport/img_coffee.png" %>
                今週もお疲れ様でした！
              </p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body">
              <p class="leadTxt leadTxt--center leadTxt--mt15">
                今週のあなたの記録結果を表示します。
              </p>
              <div class="result result--column">
                <p class="result__heading">今週の記録</p>
                <div>
                  <dl>
                    <dt>１週間の達成率</dt><dd><span><%= Schedule.new().notification_rate(notification, 7).to_i %></span>%</dd>
                  </dl>
                  <dl>
                    <dt>ゴールまで残り</dt><dd><span><%= Plan.new().remaining_days_check(notification).to_i %></span>日</dd>
                  </dl>
                </div>
              </div>
              <div class="chart chart--weekly">
                <% key_value = Schedule.new().working_hours(notification) %>
                <% key = key_value.map(&:first) %>
                <% value = key_value.map(&:second) %>
                <% prev_key_value = Schedule.new().prev_working_hours(notification) %>
                <% prev_value = prev_key_value.map(&:second) %>
                <div><canvas id="FbWeeklyChart" height="180" width="auto"></canvas></div>
              </div>
              <div class="advise">
                <p class="advise__txt">
                  <%= notification.notification_comment.comment %>習慣化までもう一息です！明日から改めてチャレンジしていきましょう！もし達成率に伸び悩んでいる場合は、あなたに合った習慣化方法を再度検討してみませんか？
                </p>
                <%= image_tag "passport/img_yell03.png", class: "advise__img advise__img--weekly" %>
              </div>
              <%= link_to "習慣化のワザ 適正診断", psychology_ranking_path, class: "adviseBtn" %>
              <%= link_to "そもそも習慣化とは？", porpose_create_path, class: "adviseBtn" %>
              <%= link_to "達成に近づく目標の立て方", porpose_create_path, class: "adviseBtn" %>
            </div>
          </div>
        </div>
      </div>
      <% notification.check = true %>
      <% notification.save %>
    <% else %>
      <div class="modal fade fb" id="FeedBackModal<%= notification.id %>" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <p class="modal-title welldone">
                <%= image_tag "passport/img_wing_left.png" %>
                <% if Passport.new().passport_schedule_check(notification) == 1 %>
                  やりました！
                <% else %>
                  お疲れさまでした！
                <% end %>
                <%= image_tag "passport/img_wing_right.png" %>
              </p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body">
              <div class="result result--inline result--mt15">
                <div>
                  <dl>
                    <dt>達成回数</dt><dd><span><%= Schedule.new().schedule_count(notification) %></span>回</dd>
                  </dl>
                  <dl>
                    <dt>残り日数</dt><dd><span><%= Plan.new().remaining_days_check(notification).to_i %></span>日</dd>
                  </dl>
                </div>
                <%= image_tag "passport/img_yell01.png" %>
              </div>
              <div class="meigen">
                <%= image_tag "passport/img_meigen_heading.png" %>
                <p><%= notification.notification_comment.comment %>習慣とは非常に軽いものであり、普段はその存在にさえ気づかない。だが一度意識すると、非常に重く断ち難いものであることがわかる</p>
                <p class="meigen__src">ウォーレン・バフェット<%= notification.notification_comment.author %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% notification.check = true %>
      <% notification.save %>
    <% end %>
    <script>
      $('#FeedBackModal<%= notification.id %>').modal('show');
    </script>

    <script>
      //毎週の時間を表示するグラフ
      <% if notification.date_type == 7 %>
        var array = <%= value %>;
        var prev_array = <%= prev_value %>;
        for(let i = 0; i < 6; i++){
          if(array[i] == 0){
            array[i] = null;
          }
          if(prev_array[i] == 0){
            prev_array[i] = null;
          }
        }
        var ctx01 = document.getElementById('FbWeeklyChart');
        var FbWeeklyChart = new Chart(ctx01, {
            type: 'line',
            data: {
                labels: <%= key.to_json.html_safe %>,
                datasets: [{
                    label: '今週のチェック時間',
                    data: array,
                    backgroundColor: 'rgba(255, 99, 132, 0.0)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 2,
                    spanGaps: true
                },
                {
                  label: '先週のチェック時間',
                  data: prev_array,
                  backgroundColor: 'rgba(54, 162, 235, 0.0)',
                  borderColor: 'rgba(54, 162, 235, 1)',
                  borderWidth: 2,
                  spanGaps: true
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            max: 24,
                            min: 0,
                            stepSize: 3
                        }
                    }]
                }
            }
        });
      <% end %>
      <% if notification.date_type == 28 %>
      //毎月の曜日ごとの達成率を表示するグラフ
          // var ctx02 = document.getElementById('FbMonthlyChart01');
          // var FbMonthlyChart01 = new Chart(ctx02, {
          //     type: 'pie',
          //     data: {
          //         labels: <%= key_per.to_json.html_safe %>,
          //         datasets: [{
          //             label: '曜日ごとの達成率',
          //             data: <%= value_per %>,
          //             backgroundColor: [
          //                 'rgba(255, 99, 132, 0.2)',
          //                 'rgba(54, 162, 235, 0.2)',
          //                 'rgba(255, 206, 86, 0.2)',
          //                 'rgba(75, 192, 192, 0.2)',
          //                 'rgba(153, 102, 255, 0.2)',
          //                 'rgba(255, 159, 64, 0.2)'
          //             ],
          //             borderColor: [
          //                 'rgba(255, 99, 132, 1)',
          //                 'rgba(54, 162, 235, 1)',
          //                 'rgba(255, 206, 86, 1)',
          //                 'rgba(75, 192, 192, 1)',
          //                 'rgba(153, 102, 255, 1)',
          //                 'rgba(255, 159, 64, 1)'
          //             ],
          //             borderWidth: 1
          //         }]
          //     },
          //     options: {
          //         scales: {
          //             yAxes: [{
          //                 ticks: {
          //                     beginAtZero: true
          //                 }
          //             }]
          //         }
          //     }
          // });

          //毎月の曜日ごとの達成回数を表示するグラフ
          var ctx03 = document.getElementById('FbMonthlyChart02');
          var FbMonthlyChart02 = new Chart(ctx03, {
              type: 'bar',
              data: {
                  labels: <%= key_num.to_json.html_safe %>,
                  datasets: [{
                      label: '今月の達成回数',
                      data: <%= value_num %>,
                      backgroundColor: 'rgba(255, 99, 132, 0.2)',
                      borderColor: 'rgba(255, 99, 132, 1)',
                      borderWidth: 1
                  },
                  {
                    label: '先月の達成回数',
                    data: <%= prev_num_value %>,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero: true,
                              max: 5,
                              stepSize: 1
                          }
                      }]
                  }
              }
          });
      <% end %>
    </script>
  <% end %>
<% end %>
