<% if notifications.nil? == false %>
  <% notifications.each do |notification| %>
    <!-- Modal -->
    <% if notification.date_type == 3 %>
      <div class="modal fade fb" id="FeedBackModal<%= notification.id %>" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <p class="modal-title nomore3">
                <%= image_tag "passport/img_diamond.png" %>
                ３日坊主にならないために！
              </p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body">
              <p class="leadTxt">
                本日は習慣化を初めて3日目です！<br>
                多くの人が3日以内で習慣化を断念してしまいます。明日の達成が習慣化へ繋がります！
              </p>
              <div class="yourHabit">
                <p class="yourHabit__heading">あなたの習慣化</p>
                <div class="yourHabit__content">
                  <div>
                    <dl>
                      <dt>何のために習慣化をしますか？<dt>
                      <dd><%= notification.passport.purpose %></dd>
                    </dl>
                    <dl>
                      <dt>そのために何をしますか？<dt>
                      <dd><%= notification.passport.goal %></dd>
                    </dl>
                  </div>
                  <%= image_tag "passport/img_yell02.png", class: "yourHabit__img" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% notification.check = true %>
      <% notification.save %>
    <% elsif notification.date_type == 4 %>
      <div class="modal fade fb" id="FeedBackModal<%= notification.id %>" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <p class="modal-title nomore3">
                <%= image_tag "passport/img_diamond.png" %>
                ３日坊主にならないために！
              </p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body">
              <p class="leadTxt">
                本日は習慣化を初めて4日目です！<br>
                多くの人が4日以内で習慣化を断念してしまいます。明日の達成が習慣化へ繋がります！
              </p>
              <div class="yourHabit">
                <p class="yourHabit__heading">あなたの習慣化</p>
                <div class="yourHabit__content">
                  <div>
                    <dl>
                      <dt>何のために習慣化をしますか？<dt>
                      <dd><%= notification.passport.purpose %></dd>
                    </dl>
                    <dl>
                      <dt>そのために何をしますか？<dt>
                      <dd><%= notification.passport.goal %></dd>
                    </dl>
                  </div>
                  <%= image_tag "passport/img_yell02.png", class: "yourHabit__img" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% notification.check = true %>
      <% notification.save %>
    <% elsif notification.date_type == 28 %>
      <div class="modal fade fb" id="FeedBackModal<%= notification.id %>" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <p class="modal-title monthly">
                <%= image_tag "passport/img_cracker.png" %>
                今月もお疲れ様でした！
              </p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body">
              <p class="leadTxt leadTxt--center leadTxt--mt40">
                今月のあなたの記録結果を表示します。
              </p>
              <div class="result result--column">
                <p class="result__heading">今月の記録</p>
                <div>
                  <dl>
                    <dt>１ヶ月の達成率</dt><dd><span><%= Schedule.new().notification_rate(notification, 28).to_i %></span>%</dd>
                  </dl>
                  <dl>
                    <dt>ゴールまで残り</dt><dd><span><%= Plan.new().remaining_days_check(notification).to_i %></span>日</dd>
                  </dl>
                </div>
              </div>
              <div class="chart chart--monthly">
                <% value = Schedule.new().schedule_day_of_the_week(notification) %>
                <div><canvas id="FbMonthlyChart01" height="400" width="auto"></canvas></div>
                <div><canvas id="FbMonthlyChart02" height="400" width="auto"></canvas></div>
              </div>
              <div class="advise">
                <p class="advise__txt">
                  <%= notification.notification_comment.comment %>習慣化されている達成率です！どうしても習慣化行動ができない日は、『例外ルール』を行いながら継続日を伸ばしましょう！
                </p>
                <%= image_tag "passport/img_yell04.png", class: "advise__img advise__img--monthly" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% notification.check = true %>
      <% notification.save %>
    <% elsif notification.date_type == 7 %>
      <div class="modal fade fb" id="FeedBackModal<%= notification.id %>" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <p class="modal-title weekly">
                <%= image_tag "passport/img_coffee.png" %>
                今週もお疲れ様でした！
              </p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body">
              <p class="leadTxt leadTxt--center leadTxt--mt15">
                今週のあなたの記録結果を表示します。
              </p>
              <div class="result result--column">
                <p class="result__heading">今週の記録</p>
                <div>
                  <dl>
                    <dt>１週間の達成率</dt><dd><span><%= Schedule.new().notification_rate(notification, 7).to_i %></span>%</dd>
                  </dl>
                  <dl>
                    <dt>ゴールまで残り</dt><dd><span><%= Plan.new().remaining_days_check(notification).to_i %></span>日</dd>
                  </dl>
                </div>
              </div>
              <div class="chart chart--weekly">
                <div><canvas id="FbWeeklyChart" height="180" width="auto"></canvas></div>
              </div>
              <div class="advise">
                <p class="advise__txt">
                  <%= notification.notification_comment.comment %>習慣化までもう一息です！明日から改めてチャレンジしていきましょう！もし達成率に伸び悩んでいる場合は、あなたに合った習慣化方法を再度検討してみませんか？
                </p>
                <%= image_tag "passport/img_yell03.png", class: "advise__img advise__img--weekly" %>
              </div>
              <%= link_to "習慣化のワザ 適正診断", psychology_ranking_path, class: "adviseBtn" %>
              <%= link_to "そもそも習慣化とは？", porpose_create_path, class: "adviseBtn" %>
              <%= link_to "達成に近づく目標の立て方", porpose_create_path, class: "adviseBtn" %>
            </div>
          </div>
        </div>
      </div>
      <% notification.check = true %>
      <% notification.save %>
    <% else %>
      <div class="modal fade fb" id="FeedBackModal<%= notification.id %>" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <p class="modal-title welldone">
                <%= image_tag "passport/img_wing_left.png" %>
                <% if Passport.new().passport_schedule_check(notification) == 1 %>
                  やりました！
                <% else %>
                  お疲れさまでした！
                <% end %>
                <%= image_tag "passport/img_wing_right.png" %>
              </p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body">
              <div class="result result--inline result--mt15">
                <div>
                  <dl>
                    <dt>達成回数</dt><dd><span><%= Schedule.new().schedule_count(notification) %></span>回</dd>
                  </dl>
                  <dl>
                    <dt>残り日数</dt><dd><span><%= Plan.new().remaining_days_check(notification).to_i %></span>日</dd>
                  </dl>
                </div>
                <%= image_tag "passport/img_yell01.png" %>
              </div>
              <div class="meigen">
                <%= image_tag "passport/img_meigen_heading.png" %>
                <p><%= notification.notification_comment.comment %>習慣とは非常に軽いものであり、普段はその存在にさえ気づかない。だが一度意識すると、非常に重く断ち難いものであることがわかる</p>
                <p class="meigen__src">ウォーレン・バフェット<%= notification.notification_comment.author %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% notification.check = true %>
      <% notification.save %>
    <% end %>
    <script>
      $('#FeedBackModal<%= notification.id %>').modal('show');
    </script>

    <script>
      //毎週の時間を表示するグラフ
      var ctx01 = document.getElementById("FbWeeklyChart");
      var FbWeeklyChart = new Chart(ctx01, {
          type: 'pie',
          data: {
          labels: ["21時", "22時", "23時", "20時"],
          datasets: [{
              backgroundColor: [
                  "#7B93DB",
                  "#98AEEB",
                  "#BED0F7",
                  "#E0E8F9"
              ],
              data: [50,25,20,0]
          }]
          },
          options: {
          legend : {
              position: 'bottom',
              labels: {
              boxWidth : 10,
              }
          },
          title: {
              display: true,
              text: '達成時間帯'
          }
          }
      });
      //毎月の時間を表示するグラフ
      var ctx02 = document.getElementById("FbMonthlyChart01");
      var FbMonthlyChart01 = new Chart(ctx02, {
        type: 'pie',
        data: {
          labels: ["21時", "22時", "23時", "20時"],
          //上位3つを表示、それ以外についてはその他で表示
          datasets: [{
              backgroundColor: [
                "#7B93DB",
                "#98AEEB",
                "#BED0F7",
                "#E0E8F9"
              ],
              data: [50,25,20,5]
          }]
        },
        options: {
          legend : {
            position: 'bottom',
            labels: {
              boxWidth : 10,
            }
          },
          title: {
            display: true,
            text: '達成時間帯（先月比較）'
          }
        }
      });
      //毎月の曜日を表示するグラフ
      var ctx03 = document.getElementById("FbMonthlyChart02");
      var FbMonthlyChart02 = new Chart(ctx03, {
        type: 'pie',
        data: {
          labels: ["日曜", "月曜", "火曜", "水曜", "木曜", "金曜", "土曜"],
          datasets: [{
              backgroundColor: [
                  "#F9703E",
                  "#FF9466",
                  "#FFB088",
                  "#F9703E",
                  "#FF9466",
                  "#FFB088",
                  "#F9703E"
              ],
              data: [20,20,5,5,20,20,10]
              //data: [value["日曜日"].to_i, value["月曜日"].to_i, value["火曜日"].to_i, value["水曜日"].to_i, value["木曜日"].to_i, value["金曜日"].to_i, value["土曜日"].to_i]
              //上位3つを表示、それ以外についてはその他で表示
          }]
        },
        options: {
          legend : {
            position: 'bottom',
            labels: {
              boxWidth : 10,
            }
          },
          title: {
            display: true,
            text: '達成曜日（先月比較）'
          }
        }
      });
    </script>
  <% end %>
<% end %>
