<div class="user" data-toggle="modal" data-target="#current_userModal">
  <div class="userIcon">
    <% if current_user.profile_image.file %>
      <%= image_tag current_user.profile_image.url, class:"round-img" %>
    <% else %>
      <%= image_tag "icon_default_user.png", class: "round-img" %>
    <% end %>
  </div>
  <div class="userName">
    <%= current_user.name %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="current_userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <div class="UserInfo">
          <div class="UserInfo__header">
            <i class="fas fa-user"></i>
            <p>アカウント</p>
          </div>
          <div class="UserInfo__form">
            <%= render partial: 'devise/registrations/edit' %>
          </div>
          <div class="UserInfo__footer">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %>
            <%= link_to "アカウントを削除する", user_registration_path, method: :delete,
             data: {confirm: "本当に削除してよろしいですか？"}, class: "delete" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
