<nav>
    <% if user_signed_in? %>
      <%= link_to new_user_passport_path(current_user) do %>
        <%= image_tag "img_logo.png", class: "logo" %>
      <% end %>
    <% else %>
      <%= link_to psychologies_path do %>
        <%= image_tag "img_logo.png", class: "logo" %>
      <% end %>
    <% end %>
  <div class="menu">
    <% if user_signed_in? && controller.controller_name == 'posts' && controller.action_name == 'index'  %>
      <% if admin_signed_in? %>
        <%= link_to "サインアウト", destroy_admin_session_path, method: :delete, class: "home-btn btn btn-outline-dangger" %>
      <% elsif user_signed_in?%>
          <div class="menu__action">
            <%= link_to new_post_path do %>
              <%= image_tag "icon_post.png" %>
            <% end %>
            <%= link_to new_user_passport_path(current_user) do %>
              <%= image_tag "icon_passport.png" %>
            <% end %>
            <%= link_to psychologies_path do %>
              <%= image_tag "icon_methods.png" %>
            <% end %>
          </div>
          <%= link_to  user_path(current_user), class: "menu__user" do %>
            <div class="userIcon">
              <% if current_user.profile_image.file %>
                <%= image_tag current_user.profile_image.url, class:"post-profile-icon" %>
              <% else %>
                <%= image_tag "icon_default_user.png", class: "post-profile-icon" %>
              <% end %>
            </div>
            <div class="userName">
              <%= current_user.name %>
            </div>
          <% end %>
        <% end %>
    <% elsif user_signed_in? %>
      <div class="menu__action">
        <%= link_to posts_path do %>
          <%= image_tag "icon_message.png" %>
        <% end %>
        <%= link_to new_user_passport_path(current_user) do %>
          <%= image_tag "icon_passport.png" %>
        <% end %>
        <%= link_to psychologies_path do %>
          <%= image_tag "icon_methods.png" %>
        <% end %>
      </div>
      <%= link_to  user_path(current_user), class: "menu__user" do %>
        <div class="userIcon">
          <% if current_user.profile_image.file %>
            <%= image_tag current_user.profile_image.url %>
          <% else %>
            <%= image_tag "icon_default_user.png" %>
          <% end %>
        </div>
        <div class="userName">
          <%= current_user.name %>
        </div>
      <% end %>
    <% elsif admin_signed_in? %>
      <div class="menu__user">
        <div class="userName">
          <%= link_to "サインアウト", destroy_admin_session_path, method: :delete, class: "home-btn btn btn-outline-dangger" %>
        </div>
      </div>
    <% else %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>
  </div>
</nav>
