<nav>
  <% if user_signed_in? %>
    <%= link_to user_passports_path(current_user) do %>
      <%= image_tag "img_logo.png", class: "logo" %>
    <% end %>
  <% else %>
    <%= link_to psychologies_path do %>
      <%= image_tag "img_logo.png", class: "logo" %>
    <% end %>
  <% end %>
  <div class="menu">
    <% if user_signed_in? && controller.controller_name == 'posts' && controller.action_name == 'index'  %>
      <div class="menu__action">
        <%= link_to "投稿する", new_post_path, class: "btn" %>
        <%= link_to user_passports_path(current_user) do %>
          <%= image_tag "icon_passport.png" %>
        <% end %>
        <%= link_to psychologies_path do %>
          <%= image_tag "icon_methods.png" %>
        <% end %>
      </div>
      <div data-turbolinks="false" class="menu__status">
        <%= render "users/show" %>

        <%# link_to  user_path(current_user), class: "user" do %>
          <div class="userIcon">
            <%# if current_user.profile_image.file %>
              <%# image_tag current_user.profile_image.url, class:"post-profile-icon" %>
            <%# else %>
              <%# image_tag "icon_default_user.png", class: "post-profile-icon" %>
            <%# end %>
          </div>
          <div class="userName">
            <%# current_user.name %>
          </div>
        <%# end %>
        <% if @achievement_sum >= 1 %>
          <div class="userAchievement">
            <i class="fas fa-star"></i>
            <p><%= @achievement_sum %></p>
          </div>
        <% end %>
      </div>
    <% elsif user_signed_in? && controller.controller_name == 'passports' && controller.action_name == 'index'  %>
      <div class="menu__action">
        <% if params[:user_id] == current_user.id.to_s %>
          <%= link_to "追加する",new_user_passport_path(current_user), class: "btn"  %>
        <% else %>
          <%= link_to user_passports_path(current_user) do %>
            <%= image_tag "icon_passport.png" %>
          <% end %>
        <% end %>
        <%= link_to psychologies_path do %>
          <%= image_tag "icon_methods.png" %>
        <% end %>
        <%= link_to posts_path do %>
          <%= image_tag "icon_message.png" %>
        <% end %>
      </div>
      <div data-turbolinks="false" class="menu__status">
        <%= render "users/show" %>

        <%# link_to  user_path(current_user), class: "user" do %>
          <div class="userIcon">
            <%# if current_user.profile_image.file %>
              <%# image_tag current_user.profile_image.url, class:"post-profile-icon" %>
            <%# else %>
              <%# image_tag "icon_default_user.png", class: "post-profile-icon" %>
            <%# end %>
          </div>
          <div class="userName">
            <%# current_user.name %>
          </div>
        <%# end %>
        <% if @achievement_sum >= 1 %>
          <div class="userAchievement">
            <i class="fas fa-star"></i>
            <p><%= @achievement_sum %></p>
          </div>
        <% end %>
      </div>
    <% elsif user_signed_in? %>
      <div class="menu__action">
        <%= link_to user_passports_path(current_user) do %>
          <%= image_tag "icon_passport.png" %>
        <% end %>
        <%= link_to psychologies_path do %>
          <%= image_tag "icon_methods.png" %>
        <% end %>
        <%= link_to posts_path do %>
          <%= image_tag "icon_message.png" %>
        <% end %>
      </div>
      <div data-turbolinks="false" class="menu__status">
        <%= render "users/show" %>

        <%# link_to  user_path(current_user), class: "user" do %>
          <div class="userIcon">
            <%# if current_user.profile_image.file %>
              <%# image_tag current_user.profile_image.url %>
            <%# else %>
              <%# image_tag "icon_default_user.png" %>
            <%# end %>
          </div>
          <div class="userName">
            <%# current_user.name %>
          </div>
        <%# end %>
        <% if @achievement_sum >= 1 %>
          <div class="userAchievement">
            <i class="fas fa-star"></i>
            <p><%= @achievement_sum %></p>
          </div>
        <% end %>
      </div>
    <% elsif admin_signed_in? %>
      <div class="menu__user">
        <div class="userName">
          <p>管理者</p>
          <%= link_to "サインアウト", destroy_admin_session_path, method: :delete, class: "home-btn btn btn-outline-dangger" %>
        </div>
      </div>
    <% else %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>
  </div>
</nav>
