<main class="home">
  <section class="kv">
    <div class="kv__img">
      <%= image_tag "lp/img_kv_book_01.png", class: "book01" %>
      <%= image_tag "lp/img_kv_book_02.png", class: "book02" %>
      <%= image_tag "lp/img_kv_run_man.png", class: "runMan" %>
      <%= image_tag "lp/img_kv_mindful.png", class: "mindful" %>
    </div>
    <div>
      <h1>さあ、見つけよう。<br>3日坊主にならない<br class="spOnly">習慣の<span>身に付け方</span>を。</h1>
      <%= link_to "無料ではじめる", new_user_registration_path, class: "btn" %>
    </div>
    <div class="kv__img">
      <%= image_tag "lp/img_kv_run_woman.png", class: "runWoman" %>
      <%= image_tag "lp/img_kv_yoga.png", class: "yoga" %>
      <%= image_tag "lp/img_kv_reading.png", class: "reading" %>
      <%= image_tag "lp/img_kv_learn.png", class: "learn" %>
    </div>
  </section>

  <section class="intro">
    <%= image_tag "lp/img_intro.png", class: "intro__bg pcOnly" %>
    <%= image_tag "lp/img_intro_sp.png", class: "intro__bg spOnly" %>
    <div>
      <h2>
        <%= image_tag "lp/img_heading_intro.png", class: "pcOnly" %>
        <%= image_tag "lp/img_heading_intro_sp.png", class: "spOnly" %>
      </h2>
      <p>
        ３日坊主で続かない。<br>自分は意思の弱いダメな人間だ・・・。<br>そう思っている方はいませんか？<br>習慣化は意思の力だけでなく、<br class="spOnly">方法も重要です。<br>心理学の研究で、習慣化の成功率を上げる方法が<br class="pcOnly">明らかになっています。<br>パビットは、心理学に基づいた方法で<br>あなたの習慣化をサポートします。
      </p>
    </div>
  </section>

  <section class="func">
    <div class="funcContent">
      <h2><%= image_tag "img_logo.png", class: "func__logo" %>で『できる<span>４</span>つのこと』</h2>

      <div class="func__row">
        <div class="func__block">
          <%= image_tag "lp/img_func_passport.png", class: "funcImg funcImg--1 pcOnly" %>
          <%= image_tag "lp/img_func_01.png", class: "funcImgSp spOnly" %>
          <dl class="funcDesc">
            <dt><span>1</span>習慣化パスポートの作成</dt>
            <dd>
              あなただけの習慣化パスポートを作成しましょう！<br>目的や目標を設定し理想の自分に近づこう！
            </dd>
          </dl>
        </div>
        <div class="func__block">
          <%= image_tag "lp/img_func_02.png", class: "funcImgSp spOnly" %>
          <dl class="funcDesc">
            <dt><span>2</span>習慣化方法を探す</dt>
            <dd>
              心理学に基づいた習慣化方法が全16種類！<br>
              あなたに合った方法を見つけましょう！
            </dd>
          </dl>
          <%= image_tag "lp/img_func_method_list.png", class: "funcImg funcImg--2 pcOnly" %>
        </div>
      </div>

      <div class="func__row">
        <div class="func__block">
          <%= image_tag "lp/img_func_calendar.png", class: "funcImg funcImg--3 pcOnly" %>
          <%= image_tag "lp/img_func_03.png", class: "funcImgSp spOnly" %>
          <dl class="funcDesc">
            <dt><span>3</span>記録カレンダー</dt>
            <dd>
              達成率を週間と月間で表示！<br>
              日々の活動を見える化して、記録していきましょう！
            </dd>
          </dl>
        </div>
        <div class="func__block">
          <%= image_tag "lp/img_func_04.png", class: "funcImgSp spOnly" %>
          <dl class="funcDesc">
            <dt><span>4</span>メモ機能</dt>
            <dd>
            トレーニングメニューや食事内容の記録など<br>
            使い方はあなた次第！
            </dd>
          </dl>
          <%= image_tag "lp/img_func_posts.png", class: "funcImg funcImg--4 pcOnly" %>
        </div>
      </div>

      <p class="func__yell">あなただけの習慣化パスポートを作るのだ！</p>
    </div>
  </section>

  <section class="warranty">
    <h2><%= image_tag "lp/img_warranty_diamond.png" %><span>実験</span>で<span>効果</span>のあった<br class="spOnly">習慣化方法を採用</h2>
    <p>アプリで採用されている<br class="spOnly">習慣化方法の一部をご紹介します。</p>
    <div class="slick">
      <div class="slider">
        行動チェーン
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </div>
      <div class="slider">
        こつこつプランニング
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </div>
      <div class="slider">
        目標プランニング
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </div>
    </div>
  </section>

  <section class="closing">
    <h2><%= image_tag "lp/img_closing_wing_left.png", class: "closing__wing closing__wing--left" %><span>正しい方法</span>で<br class="spOnly">自分の人生を<span>自分のもの</span>に<%= image_tag "lp/img_closing_wing_right.png", class: "closing__wing closing__wing--right" %></h2>
    <p class="closing__copy">
      心理学の知識を勉強したり、<br>
      情報の収集に時間をかける必要はありません。<br>
      パビットは効果のある習慣化方法を紹介します。<br>
      可能するのはあなたです。
    </p>
    <p class="closing__copy">
      さあ、見つけよう。<br>
      3日坊主にならない<br>習慣の身に付け方を。
    </p>
    <%= link_to "無料ではじめる", new_user_registration_path, class: "btn" %>
    <%= image_tag "lp/img_closing_turtle.png", class: "closing__turtle" %> 
    <p class="closing__yell">まずはチャレンジ！</p>
  </section>

  <section class="links">
    <ul>
      <li><a href="https://lin.ee/gTKOawm" target="_blank"><%= image_tag "icon_line.png" %></span><p>パビット公式アカウントを追加して習慣化をサポート</p></a></li>
      <li><a href="https://twitter.com/dumbo_habit?s=20" target="_blank"><%= image_tag "icon_twitter.png" %></span><p>習慣化を意識づけにフォロー</p></a></li>
      <li><a href="http://dumbo-app.com/" target="_blank"><%= image_tag "icon_dumbo.png" %></span><p>習慣化に役立つ情報を配信中！</p></a></li>
    </ul>
  </section>
</main>

<footer>
  <p>&copy; 2020 dumbo team</p>
</footer>

<script>
  $(function(){
    $('body').addClass('lp');
    setTimeout(function(){
        $('.kv__img').addClass('show');
    },1000);
    setTimeout(function(){
        $('.kv h1').addClass('show');
    },2000);
    setTimeout(function(){
        $('.kv .btn').addClass('show');
    },4000);
  });

  $('.slick').slick({
    centerMode: true,
    centerPadding: '15%',
    autoplay: true,
    autoplaySpeed:5000,
    dots:true,
    arrows: true,
    prevArrow: '<i class="fas fa-arrow-circle-left"></i>',
    nextArrow: '<i class="fas fa-arrow-circle-right"></i>'
  });
</script>
