<main class="home">
  <section class="kv">
    <div>
      <h1>さあ、見つけよう。<br>3日坊主にならない習慣の<span>身に付け方</span>を。</h1>
      <%= link_to "無料ではじめる", new_user_registration_path, class: "btn" %>
    </div>
    <!-- 右側 -->
    <%= image_tag "lp/img_kv_book_01.png", class: "kv__book01" %>
    <%= image_tag "lp/img_kv_book_02.png", class: "kv__book02" %>
    <%= image_tag "lp/img_kv_run_man.png", class: "kv__runMan" %>
    <%= image_tag "lp/img_kv_mindful.png", class: "kv__mindful" %>
    <!-- 左側 -->
    <%= image_tag "lp/img_kv_run_woman.png", class: "kv__runWoman" %>
    <%= image_tag "lp/img_kv_yoga.png", class: "kv__yoga" %>
    <%= image_tag "lp/img_kv_reading.png", class: "kv__reading" %>
    <%= image_tag "lp/img_kv_learn.png", class: "kv__learn" %>
  </section>

  <section class="intro">
    <div>
      <h2><%= image_tag "lp/img_heading_intro.png" %></h2>
      <p>
        ３日坊主で続かない。自分は意思の弱いダメな人間だ・・・。<br>そう思っている方はいませんか？<br>習慣化は意思の力だけでなく、方法もまた重要です。<br>最近では習慣に関する研究で、習慣化の成功率を高める方法が明らかになっています。<br>パビットは、心理学を使ったテクニックで<br>あなたの習慣化をサポートします。
      </p>
      <%= image_tag "lp/img_intro.png", class: "introImg" %>
    </div>
  </section>

  <section class="func">
    <div class="funcContent">
      <h2><%= image_tag "img_logo.png", class: "func__logo" %>でできる<span>４</span>つのこと</h2>

      <div class="func__block">
        <%= image_tag "lp/img_func_passport.png", class: "funcImg funcImg--1" %>
        <dl class="funcDesc">
          <dt><span>1</span>習慣化パスポートの作成</dt>
          <dd>
            説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明
          </dd>
        </dl>
      </div>

      <div class="func__block">
        <dl class="funcDesc">
          <dt><span>2</span>習慣化方法を探す</dt>
          <dd>
            説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明
          </dd>
        </dl>
        <%= image_tag "lp/img_func_method_list.png", class: "funcImg funcImg--2" %>
      </div>

      <div class="func__block">
        <%= image_tag "lp/img_func_calendar.png", class: "funcImg funcImg--3" %>
        <dl class="funcDesc">
          <dt><span>3</span>記録カレンダー</dt>
          <dd>
            説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明
          </dd>
        </dl>
      </div>

      <div class="func__block">
        <dl class="funcDesc">
          <dt><span>4</span>メッセージ</dt>
          <dd>
            説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明
          </dd>
        </dl>
        <%= image_tag "lp/img_func_posts.png", class: "funcImg funcImg--4" %>
      </div>

      <p class="func__yell">自分だけの習慣化パスポートを作るのだ！</p>
    </div>
  </section>

  <section class="warranty">
    <h2><%= image_tag "lp/img_warranty_diamond.png" %><span>実験</span>で<span>効果</span>のあった習慣化方法を採用</h2>
    <p>アプリで採用されている習慣化方法の一部をご紹介します。</p>
    <div class="slick">
      <div class="slider">
        行動チェーン
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </div>
      <div class="slider">
        こつこつプランニング
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </div>
      <div class="slider">
        目標プランニング
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </div>
    </div>
  </section>

  <section class="closing">
    <h2><%= image_tag "lp/img_closing_wing_left.png" %><span>正しい方法</span>で自分の人生を<span>自分のもの</span>に<%= image_tag "lp/img_closing_wing_right.png" %></h2>
    <p class="closing__copy">
      心理学的な専門知識を勉強したり、<br>
      情報集めに時間をかける必要はありません。<br>
      パビットは効果のある習慣化方法を数多くご提供します。<br>
      実感するのはあなたです。
    </p>
    <p class="closing__copy">
      ｢自分にもできる｣<br>
      この体験をあなたにも。
    </p>
    <%= link_to "無料ではじめる", new_user_registration_path, class: "btn" %>
    <p class="closing__yell">まずはチャレンジ！</p>
  </section>

  <section class="links">
    <ul>
      <li><a href="https://lin.ee/gTKOawm" target="_blank"><%= image_tag "icon_line.png" %></span><p>パビット公式アカウントを追加して習慣化をサポート</p></a></li>
      <li><a href="https://twitter.com/dumbo_habit?s=20" target="_blank"><%= image_tag "icon_twitter.png" %></span><p>習慣化を意識づけにフォロー</p></a></li>
      <li><a href="http://dumbo-app.com/" target="_blank"><%= image_tag "icon_dumbo.png" %></span><p>習慣化に役立つ情報を配信中！</p></a></li>
    </ul>
  </section>
</main>

<footer>
  <p>&copy; 2020 dumbo team</p>
</footer>

<!--
<div class="container">
  <div class="home psych__contents">
    <h1>さぁ、見つけよう。<br>3日坊主にならない習慣の身に付け方を。</h1>
    <p>「パビット」は、心理学×習慣化をテーマとしたWebアプリです。現在テスト版を公開中です。</p>
    <section>
      <h2 class="heading">使い方</h2>
      <p>
        パビットは、「パスポート」と「ハビット（習慣）」の造語です。<br>
        その名の通り、一つ一つの習慣をパスポートとして作成し、それを達成することを目標としています。
      </p>
      <ol>
        <li>新規登録をしたら、まずはパスポートを作成します</li>
        <li>自分の好きな習慣化方法を選び、登録します（いくつでも登録できます）</li>
        <li>登録が完了したら、その日からカレンダーに達成できたかどうかを記録していきます</li>
      </ol>
      <p>
        <% if user_signed_in? %>
           <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "home-btn btn btn-outline-dangger" %>
        <% elsif admin_signed_in? %>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "home-btn btn btn-outline-dangger" %>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path, class: "btn" %>
            <%= link_to "ログイン", new_user_session_path, class: "btn btn--login" %>
        <% end %>
        </p>
    </section>
    <section>
      <h2 class="heading">習慣化に役立つ情報を配信中！</h2>
      <p>
      <a href="http://dumbo-app.com/" target="_blank" class="btn btn--external">dumbo公式サイト</a>
      <a href="https://twitter.com/dumbo_habit" target="_blank" class="btn btn--external">公式ツイッター</a>
      </p>
      </section>
  </div>
</div>
-->

<script>
  $('.slick').slick({
    centerMode: true,
    centerPadding: '100px',
    autoplay: true,
    autoplaySpeed:5000,
    dots:true,
    arrows: true,
    prevArrow: '<i class="fas fa-arrow-circle-left"></i>',
    nextArrow: '<i class="fas fa-arrow-circle-right"></i>'
  });
  $('body').addClass('lp');
</script>
