<main class="psych">
  <section class="container">

    <div class="psych__header">
      <%= image_tag 'img_psy_header.jpg' %>
      <h1>習慣化方法一覧</h1>
    </div>
    <div class="psych__contents">
      <div class="section">
        <h2 class="heading">はじめに</h2>
        <p>習慣化にはいくつかジャンルがあります。</p>
        <p>自分がどのジャンルの習慣化を得意とするか、<br>
        将来知るためにも習慣化したいことがどのジャンルに当てはまるか考えてみよう！</p>
        <div class="genre">
          <ul>
            <li><%= image_tag "genre1.png" %></li>
            <li><%= image_tag "genre2.png" %></li>
            <li><%= image_tag "genre3.png" %></li>
            <li><%= image_tag "genre4.png" %></li>
            <li><%= image_tag "genre5.png" %></li>
            <li><%= image_tag "genre6.png" %></li>
            <li><%= image_tag "genre7.png" %></li>
            <li><%= image_tag "genre8.png" %></li>
            <li><%= image_tag "genre9.png" %></li>
            <li><%= image_tag "genre10.png" %></li>
          </ul>
        </div>
      </div>

      <div class="section section--premise">
        <h2 class="heading">習慣化を行う上で、すべての人に実践してほしいこと</h2>
        <p>習慣化を進めていく上で念頭においてほしい考え方があります。<br>
        すべての習慣化に関係してくる内容となります。必ずお読みください！</p>
        <div class="premise">
          <h3>
            <%= image_tag "premise1.png", class: "premise-image"%>
            セルフコンパッション
          </h3>
          <p>
            継続できなかった時に【自分を責めてはいけない】という考え方。
            「自分はダメだ・・・」と自己嫌悪に陥ったり
            習慣化を失敗した翌日に取り戻すため、倍の設定をしがちですが、
            その思考や行動が、習慣化の挫折に繋がります。
            <br>
            継続できなかった日は、「こんな日もあるよね～♪」位の感覚で乗り切りましょう。

          </p>
        </div>
        <div class="premise">
          <h3>
            <%= image_tag "premise2.png", class: "premise-image"%>
            コミットメント想起日
          </h3>
          <p>
            毎日、特定の「タイミング」と「場所」で習慣化の目的を思い返しましょう。
            人は、習慣化した先の目的を簡単に見失ってしまいます。
            目的を忘れてしまうと習慣化の成功率が下がってしまいます。
            <br>
            そのため、習慣化を行う目的を忘れないように目的を思い返すことで成功率を上げましょう。
            また、思い返す方法としてメモに目的を記載して見えるところに貼り、思い出すタイミングで音読をすることも効果的です。

          </p>
        </div>
        <div class="premise">
          <h3>
          <%= image_tag "premise3.png", class: "premise-image" %>
            例外ルール
          </h3>
          <p>
            イレギュラーな出来事への対応をあらかじめルール化しておくことで、状況に合わせて行動を継続させる方法。
            習慣に重要なのは決めたことを100％達成することではなく、行動を0％にしない事です。
            例外ルールは、できない理由を正当化するのではなく、継続への柔軟性を持たせるためのものです。
            決めた習慣にどのようなイレギュラーが起こりうるか、考えてみましょう。
            <br>
            〜〜〜 <br>
            例）目標「毎日1時間は自宅で読書をする」
            友人の連絡で 予定が変わり、自宅で読書をする時間が確保できない状況になりました。
            その時は、 移動時間の「電車の中では読書をする」など、
            状況に対応ができる例外のルールを設定してましょう。 <br>
            〜〜〜

          </p>
        </div>
      </div>

      <div class="section">
        <h2 class="heading">習慣化方法を選びましょう</h2>
        <p>習慣化方法は "新たなスキルを身につける為の方法"  "悪い習慣をなくす為の方法"  "ストレスを軽減させる為の方法" の３つに分けられます。</p>
        <p>※各習慣化方法を押すと詳細を確認することが出来ます。</p>
        <div class="methods">
          <%# if user_signed_in? || admin_signed_in? %>
            <% i = 0 %>
            <% if @psychologies %>
              <% @psychologies.each do |psychology| %>
                <div class="item">
                  <div class="itemTitle" data-toggle="modal" data-target="#genre<%= i %>">
                    <% if psychology.psychology_image.file.nil? %>
                      <%= image_tag "dumbo_default.png", class: "itemTitle__img" %>
                    <% else %>
                      <%= image_tag psychology.psychology_image.url, class: "itemTitle__img" %>
                    <% end %>
                    <h3><%= psychology.title %></h3>
                  </div>



                  <div class="modal fade psychMethods" id="genre<%= i %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle"><%= psychology.title %></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p class="item__disc　modal-disc"><%= image_tag psychology.discription_image.url %></p>
                        </div>
                      </div>
                    </div>
                  </div>


                  <% if admin_signed_in? %>
                    <div class="adminBtn">
                      <%= link_to "Edit", edit_psychology_path(psychology), class: "btn btn-outline-primary " %>
                      <%= link_to "Delete", psychology_path(psychology), method: :delete, class: "btn btn-outline-danger", data: {confirm: "本当に削除してよろしいですか？"} %>
                    </div>
                  <% end %>
                </div>
                <% i += 1 %>
              <% end %>
            <% end %>

            <%# else %>
            <%#<h1>サインインしていない</h1>%>
            <%#サインインしていないのであれば、一部の情報のみ載せる。%>
          <%# end %>
        </div>
        <% if admin_signed_in? %>
          <%= link_to "Psychology 作成", new_psychology_path, class: "btn btn-success" %>
        <% end %>
      </div>
      <%= link_to "習慣化方法を探す", diagnoses_path, class: "psychology-btn" %>
      <div class="section section--closing">
        <h2 class="heading">習慣化方法は選べましたか？</h2>
        <p>
          どれが良いか分からない場合は、<br>
          下記の観点で選んでみましょう。
        </p>
        <ul>
          <li>自身の生活スタイルにあった方法</li>
          <li>直感で「出来そう！」と思った方法</li>
        </ul>
        <p>
          最初はフィーリングで選んでも問題ありません。<br>少しずつ自分にあった方法を探していきましょう。
        </p>
        <p>
          習慣化の旅はこれからです。<br>自分にあった最高の習慣化方法を見つけましょう。
          </p>
      </div>

    </div><!-- /psyWrapper -->

  </section>
</main>
<%= render 'partial/pagetop' %>
