          <div class="header">
  <h1>習慣化方法一覧</h1>
</div>
<div class="container">
  <div class="genre">
      <h2 class="heading">はじめに</h2>
      <p>習慣化にはいくつかジャンルがあります。</p>
      <p>自分がどのジャンルの習慣化を得意とするか、将来知るためにも
      習慣化したいことがどのジャンルに当てはまるか考えてみよう！</p>
      <div class="genre__list">
        <ul>
          <li><%= image_tag "genre1.png" %></li>
          <li><%= image_tag "genre2.png" %></li>
          <li><%= image_tag "genre3.png" %></li>
          <li><%= image_tag "genre4.png" %></li>
          <li><%= image_tag "genre5.png" %></li>
          <li><%= image_tag "genre6.png" %></li>
          <li><%= image_tag "genre7.png" %></li>
          <li><%= image_tag "genre8.png" %></li>
          <li><%= image_tag "genre9.png" %></li>
          <li><%= image_tag "genre10.png" %></li>
        </ul>
      </div>
  </div>
</div>
<div class="premises">
  <div class="container">
    <div class="heading">
      <h2>習慣化を行う上で、<br>すべての人に実践してほしいこと</h2>
      <p>習慣化を進めていく上で念頭においてほしい考え方があります。
      すべての習慣化に関係してくる内容となります。必ずお読みください！</p>
    </div>
    <div class="premises-block">
      <div class="premise">
        <%= image_tag "premise1.png", class: "premise-image"%>
        <h3 class="premise-title">セルフコンパッション</h3>
        <p class="premise-discription">
          習慣化したい事が継続できなかったときに自分を責めてはいけない。という考え方。
          人は、習慣化で失敗した時にその失敗を取り返すために無理な設定をします。そして、無理な目標にも挫折し、自己嫌悪に陥ります。
          習慣化に挫折する方は、上記のサイクルに陥り失敗します。例えば、勉強を習慣化しようとしたが、失敗してしまった場合、「今日は勉強できなかったから明日はいつもの２倍勉強しよう！」
          <br>もともと設定していた目標も達成できないのにその２倍の目標を実現することは非常に難しいです。

          <br>この”無理な目標設定”を繰り返すことで、失敗を積み重ね、“自己嫌悪”に陥ります。　
　　　　　　<br>
          <br>「ああ、自分はなんてだめなやつなんだ、、、」人は自己嫌悪に陥ると”自己効力感”と呼ばれる<br>
「自分は頑張ればなんでもできる！！」という感情が低下します。<br>習慣化と自己効力感は密接に関係しているので、
もし、失敗したとしても自己嫌悪にならず、
          <br>「こんな日もあるよね〜♪」くらいの感覚で乗り切りましょう。</p>
      </div>
      <div class="premise">
          <%= image_tag "premise2.png", class: "premise-image"%>
        <h3 class="premise-title">コミットメント想起日</h3>
        <p class="premise-discription">
          毎日、特定の「タイミング」、「場所」で習慣化の目的を思い出す。
          人は、習慣化した先の目的を簡単に見失ってしまいます。
          目的を忘れてしまうと習慣化の成功率が下がってしまうこともわかっています。

          そのため、習慣化を行う目的を忘れないように
          毎日目的を思い浮かべることで成功率を上げましょう。

          また、思い浮かべる方法として
          メモに目的を記載して見えるところに貼り、思い出すタイミングで音読をすることも効果的です。</p>
      </div>
      <div class="premise">
        <%= image_tag "premise3.png", class: "premise-image" %>
        <h3 class="premise-title">例外ルール</h3>
        <p class="premise-discription">例外ルールとは、イレギュラーな出来事への対応をあらかじめ
          ルール化しておくことで、状況に合わせて行動を継続させることです。習慣に重要なのは
          決めたことを100％達成することではなく、行動を0％にしないことです。例えば、
          「毎日1時間は自宅で読書をする」という目標を立てたとします。しかし、知り合いからの連絡で
          予定が変わり、自宅で読書をする時間が確保できない状況になりました。そのような時は、
          移動時間の「電車の中では読書をする」など、状況に対応ができる例外のルールを設定しておきます。
          例外ルールは、できない理由を正当化するのではなく、継続への柔軟性を持たせるためのものです。
          決めた習慣にどのようなイレギュラーが起こりうるか、考えてみてください。</p>
      </div>
    </div>
  </div>
</div>


<div class="methods">
  <div class="container">
    <h2 class="heading">習慣化方法を選びましょう<br>(アイコンをタッチしてね！)</h2>
    <div class="methods__block">
      <%# if user_signed_in? || admin_signed_in? %>
        <% i = 0 %>
        <% if @psychologies %>
          <% @psychologies.each do |psychology| %>
            <div class="item">
              <div class="itemTitle" data-toggle="modal" data-target="#genre<%= i %>">
                <% if psychology.psychology_image.file.nil? %>
                  <%= image_tag "dumbo_default.png", class: "itemTitle__img" %>
                <% else %>
                  <%= image_tag psychology.psychology_image.url, class: "itemTitle__img" %>
                <% end %>
                <h3><%= psychology.title %></h3>
              </div>



              <div class="modal fade" id="genre<%= i %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle"><%= psychology.title %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p class="item__disc　modal-disc"><%= simple_format(psychology.discription) %></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>


              <% if admin_signed_in? %>
                <div class="adminBtn">
                  <%= link_to "Edit", edit_psychology_path(psychology), class: "btn btn-outline-primary " %>
                  <%= link_to "Delete", psychology_path(psychology), method: :delete, class: "btn btn-outline-danger", data: {confirm: "本当に削除してよろしいですか？"} %>
                </div>
              <% end %>
            </div>
            <% i += 1 %>
          <% end %>
        <% end %>

        <%# else %>
        <%#<h1>サインインしていない</h1>%>
        <%#サインインしていないのであれば、一部の情報のみ載せる。%>
      <%# end %>
    </div>
  </div>
</div>

<div class="message-wrapper">
  <div class="container">
    <div>
      <div class="heading">習慣化方法は選べましたか？</div>
      <p>どれが良いか分からない場合は、下記の観点で選んでみましょう。</p>
          <li>自身の生活スタイルにあった方法</li>
          <li>直感で「出来そう！」と思った方法</li>　<br>
      <p>最初はフィーリングで選んでも問題ありません。少しずつ自分にあった方法を探していきましょう。
        習慣化の旅はこれからです。自分にあった最高の習慣化方法を見つけましょう。</p>

      <p class="hosoku">※選んだ習慣化方法はこちら指定したフォーマットに合わせて、LINE公式アカウントにて教えてください。</p>
    </div>
  </div>
</div>

<div class="footer-wrapper">
  <div class="container">
      <p>DUMBO</p>
  </div>
</div>
