<div class="header">
  <h1>習慣方法一覧</h1>
</div>
<div class="container">
  <div class="genre">
      <h2 class="heading">はじめに</h2>
      <p>習慣化にはいくつかジャンルがあります。</p>
      <p>自分がどのジャンルの習慣化に得意とするかを将来知るためにも</p>
      <p>習慣化したいことがどのジャンルに当てはまるか考えてみよう！</p>
      <div class="genre__list">
        <ul>
          <li data-toggle="modal" data-target=".genre1"><%= image_tag "genre1.png" %></li>
          <li><%= image_tag "genre2.png" %></li>
          <li><%= image_tag "genre3.png" %></li>
          <li><%= image_tag "genre4.png" %></li>
          <li><%= image_tag "genre5.png" %></li>
          <li><%= image_tag "genre6.png" %></li>
          <li><%= image_tag "genre7.png" %></li>
          <li><%= image_tag "genre8.png" %></li>
          <li><%= image_tag "genre9.png" %></li>
          <li><%= image_tag "genre10.png" %></li>
        </ul>
      </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg genre1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container">
        ...
        <p>aaaaaaaaaaaaaaaa</p>
        <p>aaaaaaaaaa</p>
      </div>
    </div>
  </div>
</div>


<div class="methods">
  <div class="container">
    <h2 class="heading">習慣化方法を選びましょう</h2>
    <div class="methods__block">
      <%# if user_signed_in? || admin_signed_in? %>
        <% if @psychologies %>
          <% @psychologies.each do |psychology| %>
            <div class="item">
              <div class="itemTitle">
                <% if psychology.psychology_image.file.nil? %>
                  <%= image_tag "dumbo_default.png", class: "itemTitle__img" %>
                <% else %>
                  <%= image_tag psychology.psychology_image.url, class: "itemTitle__img" %>
                <% end %>
                <h3><%= psychology.title %></h3>
              </div>
              <p class="item__disc"><%= psychology.discription %></p>
              <% if admin_signed_in? %>
                <div class="adminBtn">
                  <%= link_to "Edit", edit_psychology_path(psychology), class: "btn btn-outline-primary " %>
                  <%= link_to "Delete", psychology_path(psychology), method: :delete, class: "btn btn-outline-danger" %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>

        <%# else %>
        <%#<h1>サインインしていない</h1>%>
        <%#サインインしていないのであれば、一部の情報のみ載せる。%>
      <%# end %>
    </div>
  </div>
</div>

<div class="message-wrapper">
  <div class="container">
    <div>
      <div class="heading">習慣化は選べましたか？</div>
      <p>どれがいいかいまいちわからない場合は、自身の生活スタイルに合わせて
          とりあえずできそうなものをいったん選んでみよう！フィーリングでいいんやで（適当）</p>
    </div>
  </div>
</div>

<div class="footer-wrapper">
  <div class="container">
      <p>DUMBO</p>
  </div>
</div>
