<div class="d-flex flex-column align-items-center mt-3">
  <div class="col-xl-7 col-lg-8 col-md-10 col-sm-11 post-card">
    <div class="card">
      <div class="card-header">
        投稿画面
      </div>
      <div class="card-body">
        <%= form_with model: @post, class: "upload-images p-0 border-0", local: true do |f| %>
          <%= render 'partial/error_messages', model: f.object %>
          <div class="form-group row mt-2">
            <div class="col-auto pr-0">
              <% if current_user.profile_image.file.nil? %>
                <%= image_tag 'dumbo_default.png', class: "post-profile-icon" %>
              <% else %>
                <%= image_tag current_user.profile_image.url, class: "post-profile-icon" %>
              <% end %>
            </div>
            <div class="col-md-10">
              <%= f.text_field :title, class: "form-control border-0 new-title", placeholder: "タイトルを記載" %>
            </div>
            <div class="col-md-12 pl-0">
              <%= f.text_area :discription, class: "form-control border-0 new-discription", placeholder: "詳細を記載" %>
            </div>
          </div>
          <div class="mb-3">
            <%= f.fields_for :photos do |i| %>
              <%= i.file_field :post_image, class: "new-image" %>
            <% end %>
          </div>
          <%= f.submit "投稿する", class: "btn btn-outline-primary new-bottom" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
