<!DOCTYPE html>
<html>
  <head>
    <title>パビット</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="wrapper">
      <%= render 'partial/navbar' %>
      <%= render 'partial/flash' %>
      <%= yield %>
      <% if user_signed_in? || admin_signed_in? %>
        <%= render 'partial/footer' %>
      <% end %>
    </div>
  </body>
</html>
